/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.customLayout {
  background: #121212;

  [class*="colorModeToggle"] {
    display: none;
  }

  :global .theme-layout-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    border-bottom: 1px solid #2E2E2E;
  }

  :global .navbar__brand {
    margin-right: 28px;
  }

  :global .navbar__title {
    color: #fafafa;
    font-size: 20px;
  }

  :global .navbar__inner {
    max-width: 1400px;
  }

  :global .navbar__item.navbar__link {
    padding: 4px 20px;
    color: #fafafa;
    font-size: 14px;
  }

  :global .header-github-link:before {
    width: 20px;
    height: 20px;
    background-color: #fff;
    opacity: 0.6;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_61_3)%22%3E%0A%3Cmask%20id%3D%22mask0_61_3%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%3Cpath%20d%3D%22M20%200H0V20H20V0Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_61_3)%22%3E%0A%3Cpath%20d%3D%22M7.48979%2019.638C7.33728%2020.3596%206.29752%2019.8089%205.90297%2019.636C-2.96477%2015.7391%20-1.50195%202.08361%208.01696%200.213149C19.3263%20-2.00862%2024.7121%2013.7452%2014.8165%2019.2772C14.3483%2019.539%2012.6322%2020.5434%2012.5202%2019.5716C12.3424%2018.0307%2012.993%2016.0443%2011.8597%2014.7998C13.288%2014.6614%2014.784%2014.1914%2015.6209%2012.9253C16.526%2011.556%2016.7256%209.20806%2015.9531%207.73841C15.8483%207.53902%2015.473%207.12193%2015.4451%206.96663C15.4087%206.76384%2015.6222%206.0748%2015.6202%205.76418C15.6169%205.28741%2015.4511%204.734%2015.3099%204.28165C14.6753%204.12702%2013.9949%204.45662%2013.4359%204.73604C13.239%204.83438%2012.6773%205.23655%2012.5493%205.25621C12.245%205.30369%2011.3697%205.01749%2010.9652%204.98697C10.4645%204.94899%209.74569%204.95306%209.24172%204.9829C8.73776%205.01274%207.72453%205.322%207.37574%205.20467C7.16089%205.13278%206.85918%204.86218%206.63173%204.74757C6.03759%204.44916%205.40034%204.16635%204.71999%204.25113C4.48857%204.88931%204.37385%205.61702%204.45276%206.2986C4.47265%206.46815%204.64705%206.89202%204.6318%206.97341C4.62384%207.01342%204.23261%207.49291%204.15303%207.63058C3.10002%209.45832%203.55093%2012.5834%205.28562%2013.8388C6.27034%2014.5509%206.94273%2014.4763%207.9911%2014.7964C8.03885%2014.8113%208.13831%2014.7781%208.08659%2014.8995C8.05078%2014.9836%207.85583%2015.1599%207.77559%2015.3261C7.67414%2015.5356%207.57135%2016.1026%207.49244%2016.1867C7.31009%2016.3807%206.40163%2016.4526%206.1344%2016.4234C4.66296%2016.262%204.51907%2014.2878%203.15572%2014.2518C1.79237%2014.2159%203.25983%2015.0629%203.51844%2015.3756C4.02837%2015.9927%204.13513%2016.892%204.82211%2017.3593C5.5575%2017.8598%206.65693%2017.7187%207.49244%2017.6414C7.41022%2018.2104%207.60318%2019.1138%207.49244%2019.638H7.48979Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_61_3%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%3E%3C%2Frect%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_61_3)%22%3E%0A%3Cmask%20id%3D%22mask0_61_3%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%3Cpath%20d%3D%22M20%200H0V20H20V0Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_61_3)%22%3E%0A%3Cpath%20d%3D%22M7.48979%2019.638C7.33728%2020.3596%206.29752%2019.8089%205.90297%2019.636C-2.96477%2015.7391%20-1.50195%202.08361%208.01696%200.213149C19.3263%20-2.00862%2024.7121%2013.7452%2014.8165%2019.2772C14.3483%2019.539%2012.6322%2020.5434%2012.5202%2019.5716C12.3424%2018.0307%2012.993%2016.0443%2011.8597%2014.7998C13.288%2014.6614%2014.784%2014.1914%2015.6209%2012.9253C16.526%2011.556%2016.7256%209.20806%2015.9531%207.73841C15.8483%207.53902%2015.473%207.12193%2015.4451%206.96663C15.4087%206.76384%2015.6222%206.0748%2015.6202%205.76418C15.6169%205.28741%2015.4511%204.734%2015.3099%204.28165C14.6753%204.12702%2013.9949%204.45662%2013.4359%204.73604C13.239%204.83438%2012.6773%205.23655%2012.5493%205.25621C12.245%205.30369%2011.3697%205.01749%2010.9652%204.98697C10.4645%204.94899%209.74569%204.95306%209.24172%204.9829C8.73776%205.01274%207.72453%205.322%207.37574%205.20467C7.16089%205.13278%206.85918%204.86218%206.63173%204.74757C6.03759%204.44916%205.40034%204.16635%204.71999%204.25113C4.48857%204.88931%204.37385%205.61702%204.45276%206.2986C4.47265%206.46815%204.64705%206.89202%204.6318%206.97341C4.62384%207.01342%204.23261%207.49291%204.15303%207.63058C3.10002%209.45832%203.55093%2012.5834%205.28562%2013.8388C6.27034%2014.5509%206.94273%2014.4763%207.9911%2014.7964C8.03885%2014.8113%208.13831%2014.7781%208.08659%2014.8995C8.05078%2014.9836%207.85583%2015.1599%207.77559%2015.3261C7.67414%2015.5356%207.57135%2016.1026%207.49244%2016.1867C7.31009%2016.3807%206.40163%2016.4526%206.1344%2016.4234C4.66296%2016.262%204.51907%2014.2878%203.15572%2014.2518C1.79237%2014.2159%203.25983%2015.0629%203.51844%2015.3756C4.02837%2015.9927%204.13513%2016.892%204.82211%2017.3593C5.5575%2017.8598%206.65693%2017.7187%207.49244%2017.6414C7.41022%2018.2104%207.60318%2019.1138%207.49244%2019.638H7.48979Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_61_3%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%3E%3C%2Frect%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
  }

  :global .header-github-link:hover:before {
    opacity: 1;
  }
}

.homepage {
  padding: 120px 0 70px 0;
  text-align: center;
  position: relative;
  background-color: #121212;
  background-image: url('/img/inferdb-bg.svg');
  background-position: center;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .homepage {
    padding: 2rem;
  }
}

.homepageTitle {
  text-align: center;
  color: #FAFAFA;
  font-size: 72px;
  font-weight: 400;

  .homepageTitleStrong {
    color: #0C8EFF;
  }
}

.homepageDescription {
  max-width: 910px;
  margin: 4px auto;
  color: #FAFAFA;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}

.homepageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 100px;

  :global .button {
    min-width: 160px;
    font-weight: 400;
    font-size: 14px;
    color: #FAFAFA;
    line-height: 20px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
  }

  :global .button--primary {
    background: #094CC1;
    border: 1px solid #0C8EFF;
  }

  :global .button--secondary { 
    background: #242424;
    border: 1px solid #363636;
  }
}
